/vendor
/node_modules
.env

/public/build/*
/public/css/*
/public/default/*
/public/js/*
/public/uploads/*
/public/fonts/*
/public/themes/*
/public/default

# IntelliJ
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows
Thumbs.db

# Other
_ide_helper.php
composer.phar
error_log

# Stupid Semantic
semantic.json
/semantic