.top-message {
    width: 50%;
    margin: 65px auto !important;
}
.rounded {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.wrapper-footer {
    padding: 2em 0 2em 0 !important;
}
.fb {
    vertical-align: middle !important;
}
canvas{
    width: 100% !important;
    max-width: 1200px;
    height: auto !important;
}